# Ignore node_modules folder
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment files
.env
.env.local

# Ignore Android and iOS build folders (React Native or Expo)
android/
ios/

# Ignore package lock and temporary files
package-lock.json
